html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
    font-family: 'Times New Roman', Times, serif;
}

.bgr {
    background-image:url(images/aero.jpg);
    background-color: rgba(255,255,255,0.6);
    background-blend-mode: lighten;
    background-repeat: no-repeat;
    background-size:cover; 
    max-width: 100%; 
    height: auto;
}

.about-heading {
    text-align: left;
}

.navbar-nav{
    /* font-family: Bookman Header; */
    font-size: 25px;
}
.con{
    border:2px solid transparent;
     padding-left: 50px;
     padding-right: 50px;
 }

 .cont {
     background-color: rgba(0, 0, 0, 0.3);
     margin-left: 5%;
     margin-right: 5%;
     margin-top: 2%;
     margin-bottom: 5%;
     color:black;
 }

.che {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 70%;
    margin-top: 10%;
}

.h {
    text-align: center;
    font-size: 60px;
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* padding-top: 40px; */
}

 .contact{
     padding-left: 90px;
     padding-right: 90px;
 }

.dropdown-item  a {
    border-style: ridge;
    border-color: black;
}

.dropdown-item:hover {
    background-color: rgb(100,100,100);
}
/* a:focus, a:hover {
    outline: 0 !important;
} */

 /* ul li:hover{
     background-color:rgb(211,211,211);
     font-weight: bolder;
 } */
 .carousel-item{
     padding-right: 0px;
     padding-left: 0px;
 }
 .hello1{
    height: 720px;
     width: 1250;
 }
 .hello2{
    height: 720px;
     width: 1300;
 }
 .hello3{
    height: 720px;
     width: 1300;
 }
.hello5 {
    height: 500px;
    margin-top: 100px;
    margin-bottom: 100px;
}
.hello6 {
    height: 250px;
    margin-top: 225px;
    margin-bottom: 225px;
}
.hello7 {
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* width: 25%; */
}
.hello8 {
    height: 600px;
    margin-top: 50px;
    margin-bottom: 50px;
    /* width: 25%; */
}
 h3 {
     /* font-family: Bookman Header; */
     font-style: bold;
 }

 div.polaroid {
    width: 80%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }
  
  div.text_container {
    text-align: center;
    padding: 10px 20px;
    background-color: teal;
    color: white;
  }

  div.text_container a {
        color: white;
  }

  div.transbox {
    margin: 5%;
    margin-top: 0;
    background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.6;
    height: 700px;
  }

 .a {
     height: 5px;
     background-color: black;
     margin-right: 10%;
     margin-left: 10%;
 }

 
#menu {
    margin-right: 5%;
}

#background_image {
    width : 100%;
    position : absolute;
    top: 0;
    left: 0;
}

.civil_photo {
    height:auto;
    width: 70%; 
    margin-left: 5%;
}

.svnit_photo {
    height:100px;
    width:200px;
    margin-left: 5%;
}

.tensegrity_photo {
    display: block;
     margin-left: auto;
     margin-right: auto; 
     width: 25%; 
     height: 25%;
}

.bridge_photo {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    width: 30%; 
    height: 30%;
}

.truss_photo {
    display: block; 
    margin-left: auto;
    margin-right: auto; 
    width: 50%;
}

.main_photo {
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-top: 2%;
    padding-bottom: 2%;
}

.bottom_location .rounded-social-buttons {
    margin-right: 10px;
}
@media(max-width:1250px) {
    .bgr {
        background-size: 200% 100%;
        background-position : center;
    }
    .hello5 {
        height: 350px;
        margin-top: 75px;
        margin-bottom: 75px;
    }
    .hello6 {
        height: 200px;
        margin-bottom: 150px;
        margin-top: 150px;
    }
    .hello7 {
        height : 500px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
    .hello8 {
        height : 500px;
        margin-bottom: 0px;
        margin-top: 0px;
    }
}

@media (max-width : 850.98px) {
    .bgr {
        background-size: 250% 100%;
        background-position : center;
    }
    
    .hello1 {
        height: 400px;
        padding-right: 5%;
        padding-left: 5%;
    }
    .hello5 {
        height : 200px;
        margin-top: 100px;
        margin-bottom: 100px;
    }
    .hello6 {
        height: 150px;
        margin-top: 125px;
        margin-bottom: 125px;
    }
    .hello7 {
        height : 400px;
        margin-bottom: 0px;
        margin-top: 0px;
        /* margin-top: 50px;
        margin-bottom: 50px; */
    }
    .hello8 {
        height : 400px;
        margin-top: 0px;
        margin-bottom: 0px;
        /* margin-top: 50px;
        margin-bottom: 50px; */
    }
}

 @media (max-width: 600.98px) { 
     .con{
         border:2px solid transparent;
     padding-left: 20px;
     padding-right: 10px;
     }
 }
 @media (max-width: 600.98px) { 
     .hello1{
         height: 250px;
         padding-right: 5%;
         padding-left: 5%;
         
     }
 }
 @media (max-width: 600.98px) { 
     .hello2{
         height: 250px;
     }
 }
 @media (max-width: 600.98px) { 
     .hello3{
         height: 250px;
     }
 }
 @media (max-width: 600.98px) { 
    .hello4{
        padding-top: 4px;
        text-align:center;
    }
    @media (max-width: 600.98px) { 
        .hello5{
            padding-top: 4px;
            text-align:center;
        }
        @media (max-width: 600.98px) { 
            .hello6{
                padding-top: 4px;
                text-align:center;
            }
            @media (max-width: 600.98px) { 
                .hello7{
                    text-align:center;
                }

@media (max-width : 600.98px) {
    .con {
        margin-right: 5%;
    }

    .bgr {
        background-size: 400% 100%;
    }

    .about-heading {
        text-align: center;
    }
    .svnit_photo {
        margin-left: 0%;
        height: 75px;
        width: 150px;
    }
    .main_photo {
        height: 200px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .h {
        font-size: 40px;
    }
    .hello1 {
        height: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .hello5 {
        height:150px;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .hello6 {
        height:150px;
        margin-bottom: 100px;
        margin-top: 100px;
    }
    .hello7 {
        height:350px;
        margin-top: 0px;
        margin-bottom: 0px;
        /* margin-bottom: 50px;
        margin-top: 50px; */
    }
    .hello8 {
        height:350px;
        width: 90%;
        margin-top: 0px;
        margin-bottom: 0px;
    }
     .heading {
        font-size: 35px;
    }
    
}

