.h {
    text-align: center;
    font-size: 50px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.txt {
    font-size: 25px;
}

.txt1 {
    font-size: 22px;
}

.heat1 {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    width: 100%;
    height: 80%;
    margin-top: 10%;
    margin-left: 5%;
}

.rc2 {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    width: 90%;
    height: 80%;
    margin-top: 3%;
}

.flow1 {
    margin-right: auto;
    margin-left: auto;
    display: inline-block;
    width: 70%;
    height: 60%;
    /* height: 100%; */
    /* height: 60%; */
    /* margin-top: 5%; */
    /* margin-left: 5%; */
}


.cont {
    margin-bottom: 2%;
}


@media(max-width : 1500px)
{
    .heat1 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 90%;
        height: 50%;
        margin-top: 40%;
        margin-bottom: 5%;
    }
    .rc2 {
        margin-top: 10%;
    }
    
    .flow1 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 80%;
        height: 80%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
}

@media(max-width:1200px) {
    .heat1 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 90%;
        height: 40%;
        margin-top: 60%;
        margin-bottom: 5%;
    }

    .rc2 {
        width: 100%;
        margin-top: 15%;
    }
}

@media(max-width : 992px)
{
    .heat1 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 90%;
        height: 90%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .rc2 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 70%;
        margin-top: 0%;
    }
    
    .flow1 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 80%;
        height: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
}

@media(max-width : 600.98px)
{
    .h {
        font-size: 40px;
    }

    .txt1 {
        font-size : 20px;
    }

    .heat1 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 90%;
        height: 80%;
        margin-top: 0%;
        margin-bottom: 0%;
    }

    .rc2 {
        margin-left: auto;
        margin-right: auto;
        display: inline-block;
        width: 90%;
        margin-top: 0%;
    }

    .flow1 {
        margin-right: auto;
        margin-left: auto;
        display: inline-block;
        width: 90%;
        height: 100%;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    
}

